<section>
  <h1>New payment</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Personal details</h3>
    <div class="form-group">
      <label>Total Amount: </label>
      <input type="number" formControlName="totalPayment" placeholder="Total Payment" />
    </div>

    <div formArrayName="paymentDivision">
      <h3>Payment details</h3>
      <p>Insert components amounts:</p>
      <div *ngFor="let amount of form.controls.paymentDivision.controls; let i=index">
        <div [formGroupName]="i">
          <label>{{i + 1}}. Description: </label>
          <input type="text" formControlName="description" placeholder="Amount" />
          <label>Amount: </label>
          <input type="number" formControlName="amount" placeholder="Amount" />
        </div>
      </div>
    </div>

    <div class="row">
      <button type="button" class="btn btn-danger">Cancel</button>
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</section>
